* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #EDEFF4;
}

.navbar-custom {
    background-color: #ED1C24;
    border-bottom: 2px solid #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* Stiluri pentru logo pe ecrane mici (mobile) */
.navbar-brand img {
    height: 85px; /* Dimensiune mai mică pentru ecrane mici */
    width: auto;
}

/* Ajustează padding-ul pentru navbar pe ecrane mici */
.navbar-custom .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Aplică stiluri specifice pentru ecrane mai mari */
@media (min-width: 992px) {
    .logo-outside {
        position: absolute;
        top: -8px; /* Ajustează dacă e necesar */
        left: 2rem;
        z-index: 10;
    }

    .navbar-custom .container-fluid {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Stiluri pentru logo pe ecrane mari */
    .navbar-brand img {
        height: 100px; /* Dimensiune mai mare pentru ecrane mari */
        width: auto;
    }
}

.navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease;
}

/* Stilizează link-urile din navbar */
.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Inițializează linia sub link */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #fff; /* Culoarea liniei */
    transition: width 0.3s ease, left 0.3s ease; /* Animatie pentru a lărgi linia */
}

.navbar-nav .nav-item .nav-link.active {
    position: relative;
}

.navbar-nav .nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.container {
    margin-top: 140px; /* Spațierea de sus */
}

hr {
    border-top: 1px solid #000; /* Linie orizontală neagră */
    margin-bottom: 40px; /* Spațierea de dedesubt */
}

.custom-content {
    background-color: #fff; /* Fundal alb pentru div */
    border: 1px solid #000; /* Border negru */
    border-radius: 10px; /* Margini rotunjite */
    padding: 20px; /* Spațiere internă */
    margin-top: 20px; /* Spațiere externă sus */
}

h3 {
    margin-bottom: 1rem;
}

h3 + p {
    margin-top: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

/* Stil pentru ultimul paragraf din fiecare secțiune, pentru a adăuga spațiu suplimentar dedesubt, dacă e necesar */
.custom-content h3:not(:first-of-type) {
    margin-top: 2.2rem;
}

.footer-custom {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    height: 88px;
}

.footer-custom .footer-left a {
    color: #fff;
    transition: color 0.3s ease;
}

.footer-custom .footer-left a:hover {
    color: #ED1C24;
}

.footer-custom .footer-right a:first-child {
    margin-right: 40px;
}

.footer-custom .footer-right a:hover {
    text-decoration: none;
}

.first-image {
    margin-right: 40px;
}

.footer-left {
    text-align: left;
    margin-left: 50px;
}

.footer-right {
    text-align: right;
}

.p-copyrights {
    font-size: 1rem;
    color: grey;
}

@media (max-width: 768px) {
    .footer-custom {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
    }
    .container {
        margin-top: 155px;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
        width: 100%; /* Asigură-te că container-ul se întinde pe toată lățimea */
    }
    .footer-left {
        margin-left: 0px;
    }
    .footer-left, .footer-right {
        text-align: center;
        width: 100%; /* Asigură-te că fiecare coloană se întinde pe toată lățimea */
    }
    .footer-right a {
        display: block; /* Face ca fiecare link să ocupe propria sa linie */
        margin-bottom: 10px; /* Adaugă spațiu între link-uri */
    }
    .footer-right a:first-child {
        margin-right: 0; /* Elimină margin-ul de la primul link */
    }
    .footer-left img {
        margin-right: 0px;
    }
    .footer-right img {
        margin-bottom: 20px;
        margin-right: 0px;
    }
}


