* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #EDEFF4;
    padding-bottom: 88px;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ED1C24;
    color: white;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .active {
    background-color: #b52025;
    border-radius: 5px;
}

.sidebar .top-section img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.sidebar .top-section h4 {
    margin-bottom: 50px;
    padding-left: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 10px 0;
}

.sidebar a:hover {
    background-color: #b52025;
    border-radius: 5px;
}

.sidebar .bottom-section {
    margin-top: auto;
}

.content {
    margin-top: 25px;
    margin-left: 250px;
    height: 925px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cards-container {
    display: flex;
    flex-direction: row;
}

.charts-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 302px;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ED1C24;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 20px;
    font-size: 23px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.card-content h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-content p {
    margin: 0;
    color: #666;
    font-size: 17px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #212121;
    color: #fff;
}

.sidebar.dark-mode {
    background-color: #171717;
}

.sidebar.dark-mode a {
    color: white;
}

.sidebar.dark-mode a:hover {
    background-color: #333333;
}

.sidebar.dark-mode .active {
    background-color: #333333;
    border-radius: 5px;
}

body.dark-mode .sidebar .top-section img {
    filter: grayscale(100%);
}

body.dark-mode .content .card {
    background-color: #171717;
    color: #fff;
}
